@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

body {
	font-family: 'Lato', sans-serif !important;
	background-image: url('./assets/patterns/dust_scratches.png');
	background-repeat: repeat;
}

.header {
	/* height: 85vh; */
	background-image: linear-gradient(to bottom, #b8ffab88, #239e75e8);
	background-size: cover;
	background-position: center;
	/* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	position: relative;  */
}

.header-main {
	background-color: rgba(0, 0, 0, 0.4);
}

.text-box {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -40%);
	text-align: center;
}

.heading-main {
	display: block;
	font-size: 2.2em;
	font-weight: 700;
	letter-spacing: 35px;
	animation: moveInLeft 1.5s ease-out;
}

.heading-sub {
	display: block;
	font-size: 1.1em;
	font-weight: 700;
	letter-spacing: 17.4px;
	animation: moveInRight 1.5s ease-out;
	margin-bottom: 60px;
}

#btn-browse-listings {
	animation: moveInBottom 1.5s ease-out;
}

.advantages {
	background-image: linear-gradient(to bottom, #ffffff44, #0d5e4346);
}

.icon-card {
	font-size: 3.5rem;
}

.card-hover {
	transition: transform 0.3s;
}

.card-hover:hover {
	transform: translateY(-1.5rem) scale(1.03);
}

.bg-video {
	position: relative;
	left: 0;
	height: 80vh;
	width: 100%;
	z-index: -1;
	opacity: 0.7;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.bg-video__content {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#testimonial {
	position: relative;
	background-color: #95b0b4;
}

.partners {
	height: 10vh;
	position: relative;
}

.col img {
	max-height: 2.5rem;
	max-width: 100%;
	filter: brightness(100%);
}

.footer-main {
	clip-path: polygon(50% 21%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
	height: 50vh;
	margin-top: -6%;
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-150px);
	}

	80% {
		transform: translateX(15px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(150px);
	}

	80% {
		transform: translateX(-15px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}
